.newsroomSection {
  padding: 80px 0;
  background-color: white;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}

.sectionTitle {
  font-size: 36px;
  font-weight: 600;
  color: #111;
}

.viewAllLink {
  font-weight: 500;
  color: #0d6eab;
  text-decoration: none;
}

.carouselContainer {
  position: relative;

  padding: 0 60px;
}

.mySwiper {
  overflow: visible !important;
}

.slide {
  /* width: 75% !important; */

  height: 520px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;

  transform: scale(0.9);
  opacity: 0.6;
  transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.6s ease;
}

:global(.swiper-slide-active) {
  transform: scale(1) !important;
  opacity: 1 !important;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  z-index: 10;
  width: 44px;
  height: 44px;
  background-color: #d8d6d1ff;
  border-radius: 50%;
  border: 1px solid #21201D;
  color: #c84444ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.swiperButtonPrev:hover,
.swiperButtonNext:hover {
  background-color: #adaca9ff;
  transform: translateY(-50%) scale(1.05);
}

.swiperButtonPrev {
  left: 150px;
}

.swiperButtonNext {
  right: 150px;
}
